.logg-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.user-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 80px;
    color: #F4EDE7;
}

.text-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.text-logg h3 {
    color: #F4EDE7;
    margin: 0;

}

.text-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    margin-bottom: 20px;
    margin-top: 50px;
}




