.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    margin-right: 110px;
    
}

.logo {
    margin-left: 30px;
    margin-top: 10px;
}

.titel {
    color:#F4EDE7 ;
    font-size: 32px;
    font-weight: bold;
    
}