.small-button {
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 16px;
    border-radius: 15px;
    height: 44px;
    background-color: #FFF8C5;
    color: #000000 ;
    width: auto;
    white-space: nowrap;
    
}