.bottom-menu {
  background: transparent !important;
  padding: 0;
  border: none;
  box-shadow: none;
}

.bottom-menu-2 {
  background: #1E1456;
  width: 80%;
  max-width: 400px; 
  height: 60px;
  border-radius: 40px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-menu-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}


