.setting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  background-color:#1E1456 ;
  width:372px ;
  height:75px;
  margin: 0 auto;
  margin-bottom: 25px;
   box-shadow: 0 7px 8px rgba(0, 0, 0, 0.7);
   position: relative;
}


.setting-text {
  display: flex;
  flex-direction: column;
  font-size:16px;
  gap: 4px;
  margin-top:15px ;
}

.setting-title {
  font-weight: 500;
  color: #F4EDE7;
  font-size: 20px ;
}

.small-text {
  color: #F4EDE7;
  font-size: 16px;
}

.reminders {
    background-color:#1E1456 ;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.button-ikon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.ikon {
  margin-left: 100px;
}



