.settings-scroll {
  height: 500px;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
}

.settings-reminder-1 .setting-box {
    margin-bottom: -5px;
}

.settings-reminder-2 .setting-box,
.settings-reminder-3 .setting-box {
  padding: -5px 16px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.70);
  border-left: none;
  border-right: none;
  border-radius: 0; 
}


.settings-reminder-3 {
  border-bottom: none;
  
}


.sync {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.add-text {
    color: #9D9D9D;
    margin-left: 150px;
}

.title-sleep {
    color:#F4EDE7 ;
    margin-bottom: -40px;
}

.box-sleep {
    background-color: #1E1456;
    height: 90px ;
    width: 372px;
    border-radius: 10px;
    margin: 16px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.sleep-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sleep-right {
    display: flex;
    align-items: center;
}

.pencil-ikon {
    cursor: pointer;
    margin-left: 320px;
    
}






