.setting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 12px;
  background-color:#1E1456 ;
  width:372px ;
  height:85px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

.setting-text {
  display: flex;
  flex-direction: column;
  font-size:16px;
  gap: 4px;
  margin-top:15px ;
}

.setting-title {
  font-weight: 500;
  color: #F4EDE7;
  font-size: 20px ;
}

.small-text {
  color: #F4EDE7;
  font-size: 14px;
}

.pencil-ikon {
    
}

.reminders {
    background-color:#1E1456 ;
    border-radius: 10px;
    padding: 16px;
    margin: 0 auto;
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
}