.settings-scroll {
  height: 500px;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
}

.settings-reminder-1 .setting-box {
    margin-bottom: -5px;
}

.settings-reminder-2 .setting-box,
.settings-reminder-3 .setting-box {
  padding: -5px 16px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.70);
  border-left: none;
  border-right: none;
  border-radius: 0; 
}


.settings-reminder-3 {
  border-bottom: none;
  
}


.sync {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.add-text {
    color: #9D9D9D;
    margin-left: 150px;
}





