.days {
    display: flex;
    position: fixed;
    width: 350px;
    padding: 0 16px;
    background-color: #1E1456;
    color: #F4EDE7;
    flex-direction: row;
    gap: 40px;
    z-index: 10;
    border-bottom: 1px solid #A0A0A0;
    height: 50px;

}

.form {
    height: 562px;
    overflow-y: auto;
    padding-top: 40px;
    
}

.title {
   
    color: #F4EDE7;
    margin-top: 30px;
}

.result-days {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    
    
}

.header {
    margin-bottom: 20px;
}


