.days {
    display: flex;
    position: fixed;
    width: 350px;
    padding: 0 16px;
    background-color: #1E1456;
    color: #F4EDE7;
    flex-direction: row;
    gap: 40px;
    z-index: 10;
    border-bottom: 1px solid #A0A0A0;
    height: 50px;

}

.form {
    height: 562px;
    overflow-y: auto;
    padding-top: 40px;
    
}

.title {
    color: #F4EDE7;
    margin-top: 50px;
}

.result-days {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    
    
}

.header-button {
    margin-bottom: 20px;
    filter: invert(1);
    margin-left: 40px;
    
    
}

.days-button {
    background-color: #1E1456;
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 350px;
    margin-top: -40px;
    justify-content: center;
    align-items: center;
    display:block;
}



