.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #150E38;
  
  
}

.form-overview {
    background-color: #150E38;
    border-radius: 7px;
    
}


.title-overview {
  margin-bottom: 8px;
  color:#F4EDE7 ;
}



.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}



.close-button {
    filter: invert(1);
}

.text-sleep {
    font-size: 20px;
}

.score-sleep {
    font-size: 16px;
    margin-bottom: 15px;
}