.template {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}



.view-title {
    color:#F4EDE7 ;
    padding-bottom: 10px;
    border-bottom: 1px solid #A0A0A0;
    text-indent: 20px;
}