.template {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    
    
}



.view-title {
    color:#F4EDE7 ;
    padding-bottom: 15px;
    border-bottom: 1px solid #A0A0A0;
    text-indent: 20px;
  
}