.form-box {
  position: relative;
    padding: 20px;
  border-radius: 10px;
  background-color: #1E1456;
  width: 339px;
  height: 331px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.form-box h3 {
  color: #fff;
}

.form-text {
  color: #fff;
  font-size: 16px;
}



.button-form{
    position: absolute;
    bottom: 20px;
    left: 200px; 
    
}

.form {
  background-color: #1E1456;
}

.title{
  font-size: 24px ;
}

.button {
  filter: invert(1);
}