.form-box {
  position: relative;
    padding: 20px;
  border-radius: 10px;
  background-color: #1E1456;
  width: 339px;
  height: 431px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.form-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

.form-text {
  color: #fff;
  font-size: 14px;
}



.button-form{
    position: absolute;
    bottom: 20px;
    left: 200px;  
    
}