   .achived-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 12px;
    border: 3px solid #33A156;
    border-radius: 10px;
    text-align: center;
    height:98px ;
    width: 327px;
    background-color:#1E1456;
    margin: 0;
}


.achived-text {
    font-size: 16px;
    color: #F4EDE7;
}

.achieved-mascot {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
