   .not-achived-box {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 3px solid #D84648;
    border-radius: 10px;
    text-align: center;
    height:98px ;
    width: 327px;
    background-color:#1E1456;
    padding: 0 12px;
    
    

}



.not-achived-text {
    font-size: 16px;
    color: #F4EDE7;
    line-height: 1.4;
    margin: 0;
    
}

.not-achieved-mascot {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}