  .wrapper {
       position: relative;
       width: 370px;
       height: 418px;
       border-radius: 20px;
       background-color: #1E1456;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap: 30px;
       color: white;
   }
  
   h1 {
       font-size: 24px;
   }
   .current-stats {
       position: absolute;
       word-break: break-all;
       text-align: center;
       top: 35%;
       z-index: 2;
       font-size: 16px;
       width: 120px;
       font-weight: bold;
   }
   .current-stats-2 {
    position: absolute;
       word-break: break-all;
       text-align: center;
       top: 42%;
       z-index: 2;
       font-size: 16px;
       width: 120px;
   }

   .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    cursor: pointer;
}