.wrapper {
       position: relative;
       box-shadow: 6px, 6px, 6px, 6px;
       width: 400px;
       height: 450px;
       border-radius: 50px;
       background-color: rgb(31, 0, 102);
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap: 30px;
       color: white;
   }
.circular-bar {
       width: 205px;
       height: 205px;
       background: conic-gradient(green 0deg 300deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
   }
.circular-bar::before {
       content: "";
       position: absolute;
       width: 170px;
       height: 170px;
       background: rgb(31, 0, 102);
       border-radius: 50%;
   }
.info-text {
       text-align: center;
   }
   h1 {
       font-size: 25px;
   }
   .current-stats {
       position: absolute;
       word-break: break-all;
       text-align: center;
       top: 40%;
       z-index: 2;
       font-size: 20px;
       width: 120px;
       font-weight: bold;
   }
