.circular-bar-calendar {
    width: 50px;
       height: 50px;
       background: conic-gradient(green 0deg 351deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
      
    
}

  .circular-bar-calendar::before {
       content: "";
       position: absolute;
       width: 40px;
       height: 40px;
       background: rgb(31, 0, 102); /* göra i rätt färg */
       border-radius: 50%;
       
    
       
   }
  
  