   .circular-bar-not {
       width: 160px;
       height: 160px;
       background: conic-gradient(#D84648 0deg 280deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       position: absolute;
       top: 20%;
       box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
   }
   
   .circular-bar-not::before {
       content: "";
       width: 125px;
       height: 125px;
       background: rgb(31, 0, 102); /* göra i rätt färg */
       border-radius: 50%;
       box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
   }