
   .circular-bar-overview {
       width: 160px;
       height: 160px;
       background: conic-gradient(#D84648 0deg 280deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
   }
   .circular-bar-overview::before {
       content: "";
       position: absolute;
       width: 125px;
       height: 125px;
       background: rgb(21, 14, 56, 100); /* göra i rätt färg */
       border-radius: 50%;
       
       
   }

   .text-circle-overview {
     z-index: 1;
     transform: rotate(180deg);
     color:#F4EDE7 ;
   }
  