
   .circular-bar {
       width: 160px;
       height: 160px;
       background: conic-gradient(green 0deg 358deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
   }
   .circular-bar::before {
       content: "";
       position: absolute;
       width: 125px;
       height: 125px;
       background: rgb(31, 0, 102); /* göra i rätt färg */
       border-radius: 50%;
       
       
   }
  
   