
   .circular-bar-big {
       width: 250px;
       height: 250px;
       background: conic-gradient(green 0deg 358deg, transparent 0deg);
       transform: rotate(180deg);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
      
   }
   .circular-bar-big::before {
       content: "";
       position: absolute;
       width: 215px;
       height: 215px;
       background: rgb(31, 0, 102); /* göra i rätt färg */
       border-radius: 50%;
       
   }