.weekly-sum {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    max-width: 700px;
    

}

.diagram {
    width: 600px;
   
}

.nav-box {
    margin-top: 150px;
}



.week-text {
    color:#F4EDE7 ;
    font-size: 20px;
    font-weight: 600;
}

.box-weekly {
    height: 78px;
    width: 279px;
    background-color:#1E1456 ;
    margin-top: 15px;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px ;
   
    
}
.box-text {
    color:#F4EDE7 ;
    font-size: 16px;
    text-align: center;
}

.goal-text {
    color:#F4EDE7 ; 
    font-size: 16px;
    margin-top: 45px;
    margin-bottom: -20px;

}

.diagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-right: 40px;
    padding-right: 20px;
    
    
}

.bottom-text {
    color: #FFF8C5;
  
}

.week-header {
  display: flex;
  justify-content: center;
}

.carousel-week-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.nav-arrow {
  cursor: pointer;
  width: 30px; /* justera storlek */
  height: 30px;
}

.nav-arrow.prev {
  position: absolute;
  left: 0;
}

.nav-arrow.next {
  position: absolute;
  right: 0;
}

.week-text {
  font-size: 24px;
  font-weight: bold;
}

.carousel-container {
    position: relative;
}

.carousel-container .carousel-control-prev,
.carousel-container .carousel-control-next {
  position: absolute;
  top: -500px;
}
