.weekly-sum {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -170px;
    max-width: 700px;
    

}

.diagram {
    width: 600px;
   
}

.nav-box {
    margin-top: 150px;
}

.nav-arrows {
    display: flex;
    align-items: center;
    gap: 20px;
}

.week-text {
    color:#F4EDE7 ;
    font-size: 20px;
}

.box-weekly {
    height: 78px;
    width: 279px;
    background-color:#1E1456 ;
    margin-top: 15px;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-top: 30px ;
   
    
}
.box-text {
    color:#F4EDE7 ;
    font-size: 16px;
    text-align: center;
}

.goal-text {
    color:#F4EDE7 ; 
    font-size: 16px;
    margin-top: 45px;
    margin-bottom: -20px;

}

.diagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-right: 40px;
    padding-right: 20px;
    
    
}

.bottom-text {
    color: #FFF8C5;
  
}