html, body, #root {
  background-color: #150E38;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}