.reward-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 12px;
  background-color:#1E1456 ;
  width:372px ;
  height:85px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

.reward-text {
  display: flex;
  flex-direction: column;
  font-size:16px;
  gap: 4px;
  margin-top:15px ;
}

.reward-title {
  font-weight: 500;
  color: #F4EDE7;
  font-size: 20px ;
}

.reward-points {
  color: #F4EDE7;
  font-size: 14px;
}


